.container {
  display: flex;
  align-items: center;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger div {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: transform 0.3s;
}

.hamburger:hover #top {
  transform: translateY(6px) rotate(45deg);
}

.hamburger:hover #middle {
  opacity: 0;
}

.hamburger:hover #bottom {
  transform: translateY(-6px) rotate(-45deg);
}
